[2019-09-27 05:32] heeler opened #2 "Feature request select slices/ranges not just a fixed value"
Current: czi.read_image(S=1, C=1, T=5)

Desired: czi.read_image(S=(1:3), C=1, T=(4:5))

Likely this is doable by changing from CDimCoordinate to CDimBounds and modifying the internal logic slightly.

[2019-09-29 01:19] heeler opened #3 "scaling on mosaic images"
the scale factor defines the size of the output as a fraction of the original image.
If a region is selected the region is generated to fit the defined number of pixels not to be that portion of the original image scaled by the scale factor. This should be addressable in the python code for read_mosaic_image by adjusting the values passed into _pylibczi

[2019-11-12 01:00] JacksonMaxfield opened #11 "Remove print statement that happens on CziFile init"
It simply prints the filepath that is being read. Please dear god why.

[2019-11-12 10:42] heeler opened #13 "Add subblock metadata"
There's a small amount of metadata encoded in each subblock.
Implement retrieval and return of this metadata in a way similar to
accessing the image or add it to the return metadata with the image

[2019-11-12 18:41] heeler opened #14 "feature/czi_shape bin script"
make a bin script that can be used to get the shape of a czi file from the command line

[2019-11-13 22:52] heeler opened #15 "Windows specific bug"
the script below crashes on windows - osx & linux ok but windows
[code]

[2019-11-14 03:21] heeler opened #16 "Windows Bug Version Dependencies???"
Doug & Paul encountered this bug

Microsoft Windows [Version 10.0.17134.950]
(c) 2018 Microsoft Corporation. All rights reserved.

[code]

Directory of C:\Program Files\Python37\Lib\site-packages

11/12/2019  08:52 AM    <DIR>          .
11/12/2019  08:52 AM    <DIR>          ..
11/12/2019  08:52 AM    <DIR>          aicspylibczi
11/12/2019  08:52 AM    <DIR>          aicspylibczi-2.1.0.dist-info

[2019-11-14 03:28] heeler commented on #16
I'm having trouble reproducing this. I'm trying to get my hands on a windows box to mess around with.

[2019-11-14 03:35] heeler commented on #16
@elhuhdron commented:
I tried a dumpbin on windows of the .pyd binary, and it has dependencies on the MSVC runtimes, which is expected. I have a feeling the versioning on the runtimes is the problem. I'm a bit confused on the build matrix now; which compiler is used for windows and with runtime version? From a quick search it appears that Visual Studio 2015 and 2017 versions are not compatible, so

[2019-11-14 08:03] cgohlke commented on #15
The crash is at

https://github.com/AllenCellModeling/pylibczi/blob/81d12ef83689213ea55d84d25d4b10e0bc108e4c/_pylibczi/Reader.h#L90

[2019-11-14 09:27] elhuhdron commented on #16
I was able to resolve this issue on my system by updating the MSVC runtimes from [here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
I already had the 2017 runtimes installed, but apparently this is not sufficient for binaries built with 2019 even though MS describes it as a "combined 2015-2019 runtime".

I think it would be better if we can find a met

[2019-11-14 18:05] cgohlke commented on #16
That's not a good idea since there is a limit on how many of such C extensions/DLLs can be loaded into a process. See https://bugs.python.org/issue25027

Also the GPL license doesn't allow this if you want to distribute the binaries. See https://www.gnu.org/licenses/gpl-faq.en.html#WindowsRuntimeAndGPL. Thanks to Zeiss for choosing GPL...

[2019-11-14 23:07] heeler commented on #16
@elhuhdron Thanks you for figuring out it was the runtime!

@cgohlke  I really appreciate the comment on the GPL, I would not have caught that subtlety.

My thought as to how to best fix this generally is to change my GitHub actions build environment for PyPI publication to Windows Server 2016 and build against MSVC 2017 as this is a backward compatibility bug between MSVC 2019 and any windows sys

[2019-11-14 23:12] heeler commented on #15
Thank You for pointing me here. I'm trying to get my hands on a windows machine to test this on locally., Obviously I should be checking pointer values more carefully etc but there's a weirdness (to me at least) in how libCZI is handling their shared_ptr file object. I think I've figured out the problem but I'll have to test it. Big Thanks 🙌

[2019-11-18 08:30] heeler commented on #15
So what's appears to be happening here is:
1) python creates and owns a BinaryIO object, which is associated with a file descriptor
2) C++ extension queries the BinaryIO for its file descriptor and uses it to open a file pointer
3) On windows, if the file pointer is closed the file descriptor is closed as well. This is what the docs say to do, use fclose not close. Since the file descriptor is own

[2019-11-27 22:24] toloudis commented on #15
Just to recapitulate the issue here: python code was opening a file descriptor, and pylibczi's code was again opening and then closing it, which results in closing the file that was opened from within python.  The proper way to handle it is to use `dup` in the pylibczi side so that its open and close do not affect the file descriptor referenced by python.  @heeler Am I summarizing this correctly?

[2019-12-03 21:38] heeler commented on #15
Yup! @toloudis that's in line with my thoughts. This bug is addressed in master and I hope to have the solution integrated into a wheel within a week.

[2019-12-03 21:38] #15 closed

[2019-12-03 21:42] heeler commented on #11
the print statement was removed and the cleaned version will be part of the next wheel build.

[2019-12-03 21:42] #11 closed

[2019-12-06 03:08] #16 closed

[2019-12-06 03:10] heeler commented on #13
closed by #18

[2019-12-06 03:10] #13 closed

[2019-12-13 13:52] elhuhdron opened #22 "inline BGR support"
I'm still having trouble with files with channels encoded in the binary data when I build from the new master 893d062530da946fbd12fd9a5230b9561022faa2. @heeler, for the test sample that I sent you test_with_channels.czi, which is a non-mosaic czi file with BGR channels, a single channel now reads and plots correctly, that is:

[code]

works and when I plot the image it appears correct. But if I sp

[2019-12-14 08:18] heeler commented on #22
Thanks for letting me know I'll dig into it tomorrow.

[2019-12-16 08:59] heeler commented on #22
Thanks for posting this. I think I have addressed it. I'll test it again in the morning but then I'll merge it into master. If you want to try it out before then just pip install aicspylibczi==2.2.0
Also, there are minor changes in the API such as split_bgr is no longer an option a BGR image is always split into 3 channel Gray.

[2019-12-16 23:56] #22 closed

[2019-12-17 09:43] elhuhdron commented on #22
Sorry, slow reply. Sounds good. I'll try it out. I think likely I'll close the cziscene branch and make a new branch on top of the existing head, as I think the other changes/fixes that I made in that branch are all now addressed and incorporated.

[2019-12-23 19:09] heeler opened #26 "irregular dims"
in a single CZI file Scene's can have different dimensions (Timepoints, Z-slices, ...).

Here is an example of a consistent file with a consistent number of dimensions across scenes:
[code]

Here is an example of an irregular file with differing number of timepoints:
[code]

The output shown above is the new proposed result from dims_shape()

[2019-12-23 22:18] #26 closed

[2020-01-16 09:14] hd016 opened #28 "ERROR: No matching distribution found for aicspylibczi"
**My conda env:**
[code]

[code]

[code]

[2020-01-23 10:11] hd016 opened #29 "Samples with public .czi files"
I think a sample on the read.me with a public .czi file will be more comprehensible and reproducible as a non public data.

CZI Samples from the official CZI Documentation:
[http://czisamples.blob.core.windows.net/czi-samples/ApoTome/40x14_GMMe_AT-4ch-Z_Dapi-Vimentin488_Phalloidine568-Lamin647(WF).czi](url)
[http://czisamples.blob.core.windows.net/czi-samples/ApoTome/40x14_GMMe_AT-4ch-Z_Dapi-Vimen

[2020-01-23 22:12] JacksonMaxfield opened #30 "Raise an exception when using `CziFile.size` property if the file has variable per scene dimensions"
Currently if a CZI file has variable dimension sizes per scene, the `CziFile.size` property returns a tuple with length of the number of dimensions but filled with `-1`. This is _okay_ but it isn't explicit in why those values are what they are.

I would raise an error that says something like: "File has variable per scene dimension sizes. Use dims_shape instead"

[2020-01-24 06:09] JacksonMaxfield opened #31 "Release Python 3.6 and 3.8 builds"
Only building on 3.7 is limiting

[2020-01-29 07:37] heeler commented on #31
Addressed by release 2.5 - wheels for 3.6, 3.7, and 3.8 - should also support OSX10.13 through latest

[2020-01-29 07:40] heeler commented on #28
Addressed by release 2.5 - wheels for 3.6, 3.7, and 3.8 - should also support OSX10.13 through latest

This should expand support for python 3.6.

[2020-01-30 17:42] #31 closed

[2020-01-31 00:49] #28 closed

[2020-02-25 23:21] heeler opened #34 "read selected mosaic tile frames"
if M=4 is specified with .read_image(...) thought it should only load the 4th M frame it loads all of them.

[2020-02-27 15:22] heeler commented on #2
this is handled by AICSImageIO. No pressing need currently.

[2020-02-27 15:29] heeler opened #36 "add a separate BGR reader"
Currently, BGR images are split into their base grayscale type (BGR24 => 3 x Gray8 = 3 x uint8)

I have received requests to return the interleaved data as opposed to splitting them apart.
I will also try to apply any color scaling Zen wrote into the file so it has the expected appearance.

[2020-03-03 15:17] #34 closed

[2020-04-23 11:07] MosGeo commented on #36
I am getting an error (below) when reading a specific BGR24 czi file with multiple channels, or layers (each channel is itself a colored image). Is this related to the above? I am still invistigating as I just started using this package.

[code]

[2020-04-23 16:26] heeler commented on #36
I'm wondering if you could share the output of `dims_shape()` for the specific file. Also is there any chance you'd be willing to share the file with me? We tend to acquire each channel as a Gray16/uint16 and the meaning of a channel is fairly clear. When I had to unpack the BGR images it was unclear to me what it would mean to have a BGR image with channels. If you could explain the structure to

[2020-04-25 11:25] MosGeo commented on #36
Thanks for the prompt reply. Please check your email for a test file.
The shape is:    [{'X': (0, 147), 'Y': (0, 81), 'C': (0, 7), 'S': (0, 1)}]
The pixel type: BGR24

Note that I am able to load the first channel perfectly by setting C=0 in `read_image`. The resulatant shape from the read operation is: [('B', 1), ('S', 1), ('C', 3), ('Y', 81), ('X', 147)]. Now the channels are the actual RGB data

[2020-04-28 05:22] heeler commented on #36
I have made a branch that will allow the user to pull out any requested Channel as a ndarray.
Your comment above is correct. I'm being a little cautious as this is the first example of BGR w/ channels that I've seen. It should be under PR soon and then released.

Thanks for sharing the data file and for the suggestions. Would a reader function that returned BGR in a more native interlaced format b

[2020-04-29 17:12] ChiliJohnson opened #40 "Support for CZI attachments"
Is there any planned support for retrieving CZI attachments / is it within the scope of this library to provide access to CZI attachments?

Just being able to retrieve raw attachment bytes would be very helpful. After a cursory glance it appears `libczi` [supports reading raw attachment bytes](https://github.com/zeiss-microscopy/libCZI/blob/master/Src/libCZI/CziAttachment.h)

[2020-04-30 04:05] JacksonMaxfield commented on #40
@heeler Would have more insight. I would assume it's probably in the scope of this package personally but wait for his response.

[2020-04-30 18:33] heeler commented on #40
I'm aware of attachments in the subblocks but I'm not entirely sure what is in them. I haven't seen any examples in our institute. Can you explain the use case and do you have an example file you'd be willing to share? Thanks!

[2020-05-02 22:14] ChiliJohnson commented on #40
Of course! I have some CZI slide scans produced with a Zeiss Axio Scan.Z1 which, in addition to the pixels stored in the body of the CZI, also attaches two additional images: one "preview" image of the entire slide, and one "label" image of the slide label area (where we attach barcodes). Both of these (but the preview image most of all) are useful in determining the identity of the samples which

[2020-05-08 05:50] JacksonMaxfield opened #42 "Fix lint checks in GitHub actions"
Looks like someone copied some code :eyes: :upside_down_face:

https://github.com/AllenCellModeling/aicspylibczi/blob/master/.github/workflows/pythonbuild.yml#L46

[2020-09-11 14:43] sebi06 opened #45 "Wrong czi.dims order or misunderstanding (or wrong expectation) from my side"
Hi,

I acquired a CZI called: WP96_2Pos_B2+B4_S=2_T=2_Z=4_C=3_X=512_Y=256.czi and used the following dimension order during acquistion:

![image](https://user-images.githubusercontent.com/3833249/92938483-e4b54c00-f44c-11ea-83fb-f94463be6170.png)

So my expectation is the the dimension string is like STZCYX. But when I use the following code:

[code]
I get the following output:

[code]

So it fits

[2020-09-11 15:34] heeler commented on #45
Hi @sebi06,
Thanks for pointing this out and for sharing the file. The default sort order baked into my code is
[code]

If I'm thinking through the code correctly this essentially defines the default sort order for dimensions.
For consistency, this is order is imposed on the data returned. From looking at the file after acquisition I don't think I'd be able to infer an order from the acquisition u

[2020-09-16 11:55] sebi06 opened #47 "Problems with czi.size = (-1, -1, -1, -1, -1, -1) for multi-scence CZI"
Hi all,

I just tries to read a multi-scene CZI an discovered some strange behavior. The output basically is:

[code]

So what I do not understand is: **`czi.size = (-1, -1, -1, -1, -1, -1)`**

And when I read the image it looks like this:

![image](https://user-images.githubusercontent.com/3833249/93333160-2f570f80-f823-11ea-8d0b-8f87e69dc744.png)

[2020-09-16 12:10] sebi06 opened #48 "Issue with output = czi.read_image(S=0, C=0)"
Hi all,

when I try to read a multi-scene CZI (BGR) file using `output = czi.read_image(S=0, C=0)` I run into the following issue below. But I struggle to make sense of this error message, because I did specify the channel. What is my mistake?

[code]

[2020-09-16 12:19] sebi06 commented on #48
Surprisingle the following command did work:

`output = czi.read_image(C=0, M=20, S=0)`

[2020-09-16 14:25] heeler commented on #47
So [size](https://allencellmodeling.github.io/aicspylibczi/aicspylibczi.html#aicspylibczi.CziFile.size) returns a list of -1's when the scene shapes are inconsistent. size is there for when everything is consistent but if it's not then have a look at [dims_shape()](https://allencellmodeling.github.io/aicspylibczi/aicspylibczi.html#aicspylibczi.CziFile.dims_shape), it should give you a list of dict

[2020-09-16 14:39] heeler commented on #48
Hi @sebi06, Thanks for pointing this out.
I think this is the same issue as AllenCellModeling/aicsimageio#141
Why adding M to the dims makes it work is a little unclear to me but I'll look into it today.

Hopefully, this should be addressed by the PR I just merged and the PR that's in progress right now. I will push a new version once the latest PR is merged. I'll try to reproduce this although we

[2020-09-16 17:09] sebi06 commented on #47
OK, good to know. Makes sense.

[2020-09-16 17:09] #47 closed

[2020-09-16 17:11] sebi06 commented on #48
Let me know what kind of test data sets with what dimensions you need. I can simulate more or less any Zeiss mic on my machine and acquire testimages.
Maybe we should consider creating a collection of test images on your side?

[2020-09-16 19:15] toloudis commented on #48
We have an s3 bucket, I believe, with test images for aicsimageio.  It would be interesting to try to expand that with more diverse test cases, without making the tests take forever to run!

[2020-09-16 19:39] JacksonMaxfield commented on #48
Totally agree that we should add more varied test files to our resources. Unfortunately we are going to have to start really slimming our resources down because even the GitHub actions runners only have 14GB of hard drive space during each run. We aren't near this limit but something to keep in mind as we add more and more is both the download time from s3 + the actual amount.

[2020-09-24 05:47] djdt opened #49 "Mosaic scene_bounding_box returns incorrect width and height."
On a mosaic image the scene bounding box width and height are set to the width and height of a single subblock rather than the entire scene.

It looks like the issue is in getSceneYXSize, it returns on the first subblock found for mosaic images.

I can work around this by iterating through every M_index and using read_subblock_rect to determine the min/max x/y returned but it is quite slow.

[2020-09-24 05:54] heeler commented on #49
did you try the function `read_mosaic_size` ?
`read_mosaic_size` is meant to return the size of the mozaic image `scene_bounding_box` is for conventional images.
With mosaic images, the Scene dimension doesn't have an easily interpretable meaning.

[2020-09-24 06:00] djdt commented on #49
That gives the correct size for the entire image, but I am trying to load a single scene in a multi scene image.

The scene dimension seems to correctly specify the mosaic tiles that belong to the scene.
With the correct area I can read just the scene using read_mosaic.

[2020-09-24 06:52] heeler commented on #49
So you have a Mosaic image and you want the bounding box (x, y, w, h) of all the subblocks with the same Scene index? Is that correct?
I'll have a think if there's something easy I can expose that would give you what you want.
From my understanding of mosaic files this will give you a contiguous region within the entire mozaic.
I'll have a deeper look as soon as I get a chance.

[2020-09-24 07:51] djdt commented on #49
That's correct.
I think the easiest way would be to either:
Collect all the mosaic tiles with the same scene index and finding the largest bounding box that contains them all.
Return a list of bounding boxes with a certain scene index.
Thanks!

[2020-09-28 17:10] sebi06 commented on #49
Any news on this since I have the exact same issue. I need to read a single scene from a multi-scene CZI image, where every scene has different dimensions. And some scenes are a mosaic, while other are not. I know this sounds quite like an edge case, but in reality I have seen this quite often.

So fro me a convenience function that give a complete scene from a multi-scene image incl. the scale wo

[2020-09-28 18:00] heeler commented on #49
So my thought is in the case of a mosaic file to return the complete list of bounding boxes matching specified dimensions and then the developer can decide how they want to use that. Would that work? In addition to the bounding box for each subblock, what metadata would you need/want to give context to the bounding boxes?

I'm working on a PR right now. Once that is in I'll push this through as we

[2020-09-29 11:58] sebi06 commented on #49
This would of course help. Nevertheless from a User perspective the goal is to read a specific scene as one image with a specific scale. I am not sure if that can be easily implemented, but it would be very helpful for sure.

Obviously this depends a bit from the perspective. For "real" developers your suggestion is probably good enough, but for people doing BioImage Analysis "on the scripting" le

[2020-10-03 05:58] djdt commented on #49
As long as the returned subblocks are limited to those with where the scene is specified the bounding boxes would be all that is needed for my purposes. I would be easy to find the maximum extents of those, which could then be passed to read_mosaic to read at any scale.

[2020-10-03 15:16] sebi06 commented on #49
I agree. This would be already very helpful. Finding the maximum extend should not be too hard.

[2020-10-06 07:14] heeler commented on #49
I'll finish this tomorrow and put it in for PR to be merged into the next release which will happen as soon as it's approved. Thanks for the suggestions.

[2020-10-09 04:51] heeler commented on #48
This should be addressed by code in #46 and #44. As soon as #51 is merged I'll push out a new release package.

[2020-10-27 06:54] #49 closed

[2020-10-30 05:59] heeler commented on #48
Please try out 2.7.1 It incorporates the fixes to this issue.

[2020-10-30 05:59] #48 closed

[2020-10-30 06:02] heeler commented on #42
Sure did lol. I'm guessing I had the wrong project name in there but it is correct now. Thanks for pointing it out.

[2020-10-30 06:02] #42 closed

[2020-10-30 06:06] heeler commented on #36
I think this is addressed by some of the recent changes, 2.7.1 . I ended up not making a BGR specific function. What should happen now is that if you have a 7 channel BRG image and you pull access it as a BGR it will provide 21 channels back, 3*7. If this isn't workable for you please reopen this issue and I'll take another look. Thanks.

[2020-10-30 06:06] #36 closed

[2020-10-30 06:07] #14 closed

[2020-11-10 00:54] djdt opened #57 "MemoryError: std::bad_alloc for read_mosaic in versions > 2.6.0"
The read_mosaic function throws a 'MemoryError: std::bad_alloc' when called. This can be fixed by reverting to version 2.6.0.

[2020-11-10 06:31] heeler commented on #57
I think I have traced this back to a bug in libCZI but I think I have a workaround. I hope to have a fix out for you tomorrow.

[2020-11-12 01:25] heeler commented on #57
2.7.3 should be on pypi now. If you wouldn't mind giving that a try I'd really appreciate it.
There is a subtle bug in libCZI but I haven't been able to rule out that it might be in my code that causes, a skew in the image for certain scale factors. I'll work on this but it will be a different PR. The segfault you were encountering should be addressed by 2.7.3. Thanks for reporting this. Cheers!

[2020-11-12 12:02] djdt commented on #57
It no longer segfaults but the image is corrupted in some way. The top image is 2.7.3 and the bottom with version 2.6.0.

![image](https://user-images.githubusercontent.com/10266332/98937616-c34f0a00-253a-11eb-9cde-e66379a6ab09.png)
![image](https://user-images.githubusercontent.com/10266332/98937778-027d5b00-253b-11eb-96ff-7c9b3e75a3d4.png)

[2020-11-12 17:15] heeler commented on #57
That's the skew I mentioned. I'll work on that today. It seemed only to happen for certain scalefactors. IE: 1.0, 0.1, 0.2 might all work fine but 0.3, .... could be skewed. Thanks for the feedback I'll post here again when I have a fix together.

[2020-11-13 07:43] heeler commented on #57
Hi @djdt, So I think this is now working. There's a new aicspylibczi 2.7.5 which works for all scalefactor <= 1.0 at least with the files I was able to test against. If you would please give the new version a try and let me know if it's performing satisfactorily for you. I really appreciate your posts! Thanks!

[2020-11-17 05:09] djdt commented on #57
Hey, it works great now and is much faster than before! Thanks for all the work on this!

[2020-11-17 05:10] JacksonMaxfield commented on #57
Great work @heeler!

[2020-11-17 06:58] heeler commented on #57
Thanks @djdt! Thanks @JacksonMaxfield! Much appreciated.

[2020-11-17 06:58] #57 closed

[2020-11-17 07:08] heeler opened #61 "aicspylibczi 3.0 release plans"
RGB images
- [ ] expand the RGB channels into a Samples Dimension, Q
- [ ] Improve the documentation structure
- [ ] add to OME functionality once xslt translation is in place.

[2020-11-17 07:10] heeler commented on #45
I think this has been addressed but if not ping me or reopen the issue.

[2020-11-17 07:10] #45 closed

[2020-11-17 07:18] heeler commented on #3
This is an order of operations thing - apply the scalefactor to the selected region or select the region of the scaled image. As this hasn't been requested I'm not going to change the operation order unless asked to do so.

[2020-11-17 07:18] #3 closed

[2020-11-26 08:49] plankter opened #62 "Mosaic image size differs from mosaic dimentions"
All CZI files I tried show the difference between `read_mosaic_size` and final image size read via `read_mosaic`.

![image](https://user-images.githubusercontent.com/1336618/100327905-2c6b5e80-2fcc-11eb-804e-f63e1ec62628.png)

However, reading via `czi.read_mosaic(region=czi.read_mosaic_size(), C=0)` returns expected dimensions.

[2020-11-30 18:04] heeler commented on #62
I'll look into this and get back to you. Thanks for pointing it out. Sorry for the delay in responding I was unplugged over the local holiday here.

[2020-11-30 18:51] heeler commented on #62
@plankter what version number of aicspylibczi are you using? I've tested locally with 3 mosaic files with aicspylibczi 2.7.5 and so far haven't been able to reproduce the mismatch. If you are on an older version please update and let me know if the bug persists. If the bug persists is there any chance you could share the file? Thanks!

[2020-12-04 16:37] JacksonMaxfield opened #63 "Build & Test on Py39"
See aicsimageio parent [#167](https://github.com/AllenCellModeling/aicsimageio/issues/167)

`aicspylibczi` needs to build and release on py39 prior to `aicsimageio`.

[2020-12-09 19:57] JacksonMaxfield commented on #63
Resolved in most recent release. Thanks @heeler

[2020-12-09 19:57] #63 closed

[2020-12-14 06:19] heeler commented on #62
@plankter when you have time could you let me know if this is working for you with >=2.7.5? Thanks.

[2020-12-15 07:30] sebi06 opened #65 "Reading parts of a CZI using BoundingBox derived from czi.mosaic_scene_bounding_boxes"
Hi,

i use pyaicslibczi = 2.7.5 and cannot warp my head around the following problem (might be my mistake).

I have a CZI with 2 equal scenes (width = 2944, height = 3444 for each scene)

![image](https://user-images.githubusercontent.com/3833249/102183578-59fe4600-3eae-11eb-902b-b89657caadae.png)

I use the following code

[code]

It seems to work fine for the 1st scene but when trying to read th

[2020-12-15 07:46] heeler commented on #65
Hi @sebi06! My guess off the top of my head is that the format it is expecting (x0, y0, w, h) so if x0 is 45000 then w has to be at most 47944 - 45000. I think your assuming (xStart, yStart, xEnd, yEnd).

The input region is defined as:
region – A rectangle specifying the extraction box (x, y, width, height) specified in pixels

If that doesn't fix your problem and if you can share the file with m

[2020-12-15 09:08] sebi06 commented on #65
Ok, I will try. But the 2nd scene XStart is exactly at 45000 pixels if you consider the whole image including both scenes. The CZI can be downloaded here:

https://drive.google.com/file/d/1p-XuEHnrl6MyyNDZpGbRrpFzvXfSenQI/view?usp=sharing

[2020-12-15 09:16] heeler commented on #65
The start is correct the width is what's causing you a problem I believe.
My best guess is that region should be
(45000, 0, 2944, 3444)
Let me know if that works for you if you would.

[2020-12-15 09:17] sebi06 commented on #65
In ZEN i have:

![image](https://user-images.githubusercontent.com/3833249/102195293-ae112680-3ebe-11eb-9759-0be02eb5bdeb.png)

Let me check again.

[2020-12-15 09:25] sebi06 commented on #65
So the correct code snippet then would be:

[code]

Make sense now that I look at it.

[2020-12-15 11:24] sebi06 commented on #65
I tied this with a more "fancy" CZI at then the approach fails directly for the first file.

![image](https://user-images.githubusercontent.com/3833249/102208487-c76e9e80-3ecf-11eb-8532-42b92ba4e0c2.png)

https://drive.google.com/file/d/16SPi6V2R4TTu0wjx8f5isHE4syttSboj/view?usp=sharing

[2020-12-15 11:48] sebi06 commented on #65
I found at least one mistake .... - my code. I modified it (see below) and now it also works with the file from above. feel free to keep those CZI for your purposes. I am still not sure if that code is the best approach to read scenes from an CZI scene-by-scene.

[code]

[2020-12-15 14:40] sebi06 commented on #65
It did some more test and it seems to work now. Just the naming of the function is misleading. I will open a separate issue for this.

[2020-12-15 14:40] #65 closed

[2020-12-15 15:00] sebi06 opened #66 "Issues with understanding the naming of "scene_bounding_box" and "scene_height_by_width" functions"
Hi,

i used the following function over the last days and got a bit confused by the naming for the following functions

* `mosaic_scene_bounding_boxes(index=SceneID)`
* `scene_bounding_box(index=SceneID)`
* `scene_height_by_width(index=SceneID)`

* 1st yields in a List with tuples for every tile of a specific scene = SceneID
* 2nd yields in a tuple for the first tile of a specific scene = SceneID

[2020-12-15 22:42] dimi-huer commented on #62
### Coordinates Overspecified Exception with certain Mosaic files

I get an issue related to this topic, I discovered it when I tried opening a tilescan with _aicsimageio_.
So, I created a library with any type of possible combinations of dimensions: M, S, T and Z with two channels.

Versions of packages I was using:

python: 3.8.5
aicspylibczi: 2.7.6
aicsimageio: 3.3.3
czifile: 2019.7.2

If I try

[2020-12-16 19:02] dimi-huer opened #67 "Coordinates Overspecified Exception with certain Mosaic files"
I discovered it when I tried opening a tilescan with _aicsimageio_. So, I created a library with any type of possible combinations of dimensions: M, S, T and Z with two channels.

Versions of packages I was using:

python: 3.8.5
aicspylibczi: 2.7.6
aicsimageio: 3.3.3
czifile: 2019.7.2

If I try to open tilescans (all of them with two channels) with only tiles, tiles and time, tiles and z, or tiles

[2020-12-16 19:14] dimi-huer commented on #62
@heeler I do get the same as @plankter reported with my .czi files with >=2.75 (with the ones I could open, see: AllenCellModeling/aicspylibczi/issues/67)

However, if I use the file: AllenCellModeling/aicspylibczi/tests/resources/mosaic_test.czi it works.

Also width and height order are switched in between the two methods.

[2020-12-16 19:28] heeler commented on #62
Can you share the file with me, jamies@alleninstitute.org. I will treat the file as confidential. If you could share it via dropbox or google drive or something similar that would be great and just directly email me the info I'll take a shot at it asap.

[2020-12-16 22:43] dimi-huer commented on #62
I am sorry, but I believe I misunderstood something before.

Image size (width and height) is consistent, though width and height are swapped, between `read_mosaic_size()` and `read_mosaic()`, which might have caused some distraction to me.

Something new came up to me with scenes. Shouldn't it be possible to choose a scene in `read_mosaic(C=0, S=0)`?
If I try it, I get a _DimCoordinatesOverspecif

[2020-12-16 23:17] heeler commented on #62
Hi @dimi-huer,

On the question of `read_mosaic(C=0, S=0)` I apologize I should have documented that S is an invalid constraint, so it would have to be `read_mosaic(C=0)` to work and it would be the entire mosaic image. The way Zeiss has implemented mosaic images they to some extent abstract away the concept of a scene and instead introduce `m_index` which has the property that an image with the s

[2020-12-17 00:47] dimi-huer commented on #62
Hi @heeler

Okay, I thought so, because that was working for me. Would it then be an option to make 'M' a subdimension of the m_index, which is the 'S' dimension, like giving it more attributes if a file is mosaic type? Could it be possible that this is already the case somehow and this is why my mosaic files without a 'S' dimension fail to open? (#67 )

Thank you for clarifying the code, it helps

[2020-12-17 07:43] heeler commented on #62
Hi @dimi-huer, So I went through the files you shared and was able to determine the following:

Mosaic files:
pos_tiles_time.czi
pos_tiles_time_z.czi
pos_tiles_z.czi
pos_tiles.czi

Normal CZI Files (NOT MOSAICS):
pos_time.czi
pos_time_z.czi
pos_z.czi
pos.czi
time_z.czi
time.czi
z.czi

Problem Files:
tiles_time_z.czi:
    Mosaic: True
    Dims: BVTCZMYX
    Shape: [{'X': (0, 256), 'Y': (0, 256), 'Z

[2020-12-17 17:20] dimi-huer commented on #62
Hi @heeler

Thank you a lot for solving it so quickly. I believe also the tiles_time.czi was a problem file?
I don't fully understand the B and the V dimensions. Is the B dimension coming from multiple experiments, if the experiment designer is used? All the other dimensions match what I would expect.

Great that I could help solving this issue.

[2021-01-04 18:02] bryantChhun commented on #28
I'm receiving this error on any 2.7 release while installing as a dependency (or individually) from aicsimageio

[code]

similar env as the user above:

[code]

[code]

[2021-01-04 18:58] bryantChhun opened #68 "ERROR: no matching distribution found for aicspylibczi"
I'm receiving this error on any 2.7 release while installing as a dependency (or individually) from aicsimageio

This looks exactly the same as an issue from january 2020, except this time with the 2.7 release: #28

[code]

similar env as the user earlier:

[code]

[code]

[2021-01-08 17:38] heeler commented on #68
Hi @bryantChhun, umm first off it looks like your actually on python 3.6 not 3.7 from your environment output but that shouldn't be a big deal. I would recommend using 3.7 or later generally. Given the output, I'm assuming you're on macOS?

We use pip for installs and don't directly publish a conda package.
Try `pip install aicspylibczi` after activating your conda environment and it should work.

[2021-01-08 17:55] bryantChhun commented on #68
@heeler Thanks for the response.  `pip install aicspylibczi` works but defaults to version 2.6.  I noticed the problem when installing `aicsimageio`, which specifies `aicspylibczi >= 2.7.5` as a dependency.

If i try installing 2.7.6 as here https://pypi.org/project/aicspylibczi/2.7.6/, i will get the above error

[2021-01-08 19:39] heeler commented on #68
I'm having a really hard time reproducing your issue.

can you check to make sure there isn't a pip.conf somewhere that's having impact here?
[code]

Also so we're on the same page could you try this series of commands
[code]
If this doesn't work please post the output back here.

On every attempt I make it installs aicspylibczi=2.7.6 cleanly.

[2021-01-08 20:08] bryantChhun commented on #68
I can install aicsimageio using the above commands, and even used `--no-cache-dir` to make sure it's fresh.  It still defaults to 2.6 (and aicsimageio will default to 3.3.1, which has an older dependency)

![image](https://user-images.githubusercontent.com/25647712/104057941-cca9cb00-51a7-11eb-9211-9f4c81b74ac8.png)

If i try to install 3.3.3, I get the same error:

![image](https://user-images.gi

[2021-01-08 20:48] heeler commented on #68
It's possible it could be an OS version issue but my build file contains the following statement
[code]
Which I believe sets 10.13 as the minimum supported version.

Let's try forcing the version for aicspylibczi and then if it works installing aicsimageio
[code]

[2021-01-08 21:51] heeler commented on #68
One other thought i had was to download the whl file from [pypi](https://files.pythonhosted.org/packages/54/e4/39ee16166619b71968c171f47ef4a7aca596138c7612d9d2d203acae5ba6/aicspylibczi-2.7.6-cp37-cp37m-macosx_10_14_x86_64.whl) so it's local to your system then
[code]

If it doesn't install I'd be very curious to know what message it gives.

[2021-01-08 22:34] bryantChhun commented on #68
Ah thank you!  I hope this was more helpful than painful.  In the meantime I am more encouraged to upgrade my OS :-)

[2021-01-08 23:20] JacksonMaxfield commented on #68
@heeler We may want to build aicspylibczi on more platforms

https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources

`macos-11.0` and `macos-10.15` / `macos-latest` are different.

[2021-01-09 14:14] heeler commented on #68
@JacksonMaxfield This is what throws me though. Generally for building binaries (the C++ target) the compiler flags/libraries you link against (target) sets the minimal macOS version. In C++ build instructions, we explicitly say 10.13. Somewhere along the way, it's now targeting 10.14 in the wheel that gets built.

To your main point, I have no issue with expanding the build matrix. I'm just not 1

[2021-01-09 18:37] JacksonMaxfield commented on #68
Oh yea. My comment wasn't so much about the current 10.13 issue but rather the general "I don't think we are building on 11.0" yet issue.

[2021-01-13 07:34] #67 closed

[2021-01-15 20:51] markemus opened #70 ""free(): invalid size" crash trying to call CziFile.read_mosaic()"
I'm trying to read a mosaic czi file but it crashes consistently when I call img.read_mosaic(). img.read_image() works, but returns a stack of (overlapping?) mosaic tiles so I would prefer to get read_mosaic working.

[code]
results:
[code]

I tried specifying S=0, but the program told me that S is not used for mosaic images.
I tried again reading only a subregion:

[code]

This looks like an inte

[2021-01-15 21:53] heeler commented on #70
Is there any chance you can share the file you are trying to read solely for the purpose of debugging?

[2021-01-15 23:01] heeler commented on #70
So I just did a few local sanity checks with a mosaic file I have.

The output
[code]
suggests that `dims` and `dims_shape()` are working correctly.

The `free(): invalid size` I have not seen before but it could be you're exhausting the local memory available.

If that's the case then you are on the right track:
`y = img.read_mosaic(region=(100,100,100,100), C=0)`
the output line `(100,100,100,10

[2021-01-18 06:36] MosGeo opened #71 "Displaying an RGB Image"
## System and Software
* aicspylibczi Version: 2.7.7
* Python Version: 3.8
* Operating System: Windows 10, 64 Bit

## Description
aicspylibczi recognizes the shape of the RGB file correctly but when loading the image and displaying it, it is not correct. It does not match the image displayed in Zen Blue.

## Expected Behavior
Correct display of the RGB image.

## Reproduction
As an example, I am u

[2021-01-18 06:42] MosGeo commented on #71
@heeler Thanks for the prompt response back in April 2020. Sorry about not following up as I got sidetracked by other projects that does not involve CZI files so I had to drop it. Anyway, I am probably doing something wrong with the above code but I can't seem to find it.

p.s. I am also looking into a possible issue with loading an RGB mosaic file.  It seems that reading one mosaic tile results i

[2021-01-18 08:00] heeler commented on #71
Thanks for bringing this up. Is there a chance you could share the image from Zen Blue?

[2021-01-18 08:11] MosGeo commented on #71
Below is the image as viewed in Zen Blue with the info detected in the software. Although the image looks green, it is not a false color. You will note that it says 24 Bit as expected of an RGB and it has the three channels.

![RGB-8bit](https://user-images.githubusercontent.com/10503349/104887892-11d6b580-597d-11eb-971b-9b4dd6ca130a.jpg)

![Info](https://user-images.githubusercontent.com/10503349

[2021-01-18 08:16] heeler commented on #71
Thanks. It's late here so I'll try and dig into this tomorrow.

[2021-01-18 08:18] MosGeo commented on #71
No problem.  Cheers!

[2021-01-18 21:36] heeler commented on #71
Thank you for posting this. Unfortunately when the memory optimization happened BRG (RGB) images ended up as an edge case that I test the shape but the condition to trigger the BRG24 -> gray8 wasn't being triggered. I'll get a patch out asap. It will likely be v2.8

[2021-01-19 13:21] MosGeo commented on #71
I tested the fix with both 1 channel and multi-channel RGB images and it is working as expected. Great job! Thanks! I will test it on a  mosiac RGB tomorrow as I don't have access to one currently. But for the current issue, it is fixed and you can close the issue.

[2021-01-19 15:44] heeler commented on #71
Thanks @MosGeo! When the PR fixing this is merged into master the issue will autoclose. Thanks again for sanity checking the fix!

[2021-01-19 17:30] markemus commented on #70
@heeler Thanks, that got me further. I believe you're correct about it running out of memory. However I ran into another issue.

I changed it to:

[code]

The resulting image looks like a bunch of tiles overlaid on each other.

https://imgur.com/f4jqwxs

I exported to tiff using bioformat's bfconvert and I can confirm that in the exported tiff it doesn't look like that. Any advice?

[2021-01-19 20:17] heeler commented on #70
So the code for stitching together the mosaic files is from Zeiss, specifically [libCZI](https://github.com/zeiss-microscopy/libCZI). My understanding is that Mosaic files can be acquired in various ways with gaps between the image acquisitions and imaging settings can be changed across the image. That may be what you're seeing but it's hard for me to know. You can use `read_image` will give you t

[2021-01-20 01:15] #68 closed

[2021-01-20 01:49] #71 closed

[2021-01-20 01:54] heeler commented on #68
@bryantChhun So I got it to build for MacOS 10.9 forward. Unfortunately, the python binaries in the GH actions were build with 10.14 as the minimum supported MacOS. I used miniconda to install their binaries and then built against those and was thus able to get 10.9 onward support. Hopefully this works for you.

[2021-01-29 14:59] sebi06 opened #73 "Use of keyword "use_pylibczi" for the CZI file object"
I tried to use the keyword **use_pylibczi** like described inside the source code. But it seems to me this is not used anymore because it throws an : `TypeError: __init__() got an unexpected keyword argument 'use_pylibczi'`

[code]

[2021-01-29 15:44] heeler commented on #73
Hi @sebi06, yes you are totally right. When I was developing the initial versions I had that option enabled but at some point when I trimmed dependencies and removed it I forgot to fix the docstring.

What was the functionality that drove you there or was this something you just realized looking at the code?
Thanks for pointing it out. Next PR I'll check my docstrings and clean this up. 🙏

[2021-01-29 15:50] heeler commented on #70
@markemus Can you share the image file with me that is causing this or was this resolved?

[2021-01-29 16:06] heeler commented on #66
Hi @sebi06, you are correct. When I first implemented this we really weren't supporting mosaic files and were working with subblocks that spanned a scene and thus the current naming is a little odd.
I've started working on a 3.0 version and will address changes in there. Once I have the API in a PR I will add you as a reviewer if you don't mind. I appreciate your pointing this out.

[2021-01-29 16:16] heeler commented on #62
I believe this is resolved now. If something is still outstanding that I missed please reopen the issue and draw my attention to it. Thanks!

[2021-01-29 16:16] #62 closed

[2021-01-29 18:12] sebi06 commented on #73
I just saw it and was wondering... No worries.

[2021-01-29 18:42] markemus commented on #70
@heeler Unfortunately I can't share the file- it's proprietary data and we don't currently have a way to anonymize czis. The version I was using was 2.7.7. I haven't had a chance to test another file, but I will try to do so and report back- feel free to remind me.

[2021-01-29 19:42] heeler commented on #70
@markemus Thanks for letting me know. Details wise
1) what's the pixel type?
2) what does dims_shape() return?

 I doubt upgrading to 2.8.0 will fix it but it might be worth trying.

If you are able to create a file that you can share I would really appreciate it. If you don't have time to create a file if you could explain acquisition settings I can ask our microscopy team to attempt to reproduce

[2021-03-01 22:10] JacksonMaxfield commented on #66
@heeler

I would rename:
* `mosaic_scene_bounding_boxes(index=SceneID)` -> `get_all_mosaic_tile_bounding_boxes`
* `scene_bounding_box` -> `get_single_tile_bounding_info`
* `scene_height_by_width` -> `get_single_tile_height_by_width`

[2021-03-01 22:11] JacksonMaxfield commented on #66
All functions start with verb all props start with noun or static value:

* function to get image: `get_image_data`
* property as shorthand for access to data: `data`

[2021-03-26 15:37] sebi06 opened #77 "czi.read_mosiac_size gives different shape than the actual array has when using czi.read_mosaic"
Hi,

here is something which bothers me for a while and I hope you might be able to help me

[CZI Testfile](https://www.dropbox.com/s/oqws88e2jz3za5q/OverViewScan.czi?dl=0)

This is a tiles image which I want to read. Here is the minimal code

[code]
What I do not understand so far is the output, where the actual size of the returner array does not have the same XY number of pixel as it should hav

[2021-03-27 05:05] heeler commented on #77
Hi @sebi06
Thanks for raising this. I'll read the docs again but the bounding box I'm returning is the boundingBoxLayer0Only.
It's defined in libCZI as shown below. I suspect that the bounding box is the size of the tiles laid side by side w/out overlap. The Mosaic shape from the assembled image is the shape of the tiles once they have been projected into place with edges overlapping. My gut feeli

[2021-03-27 10:43] sebi06 commented on #77
Hi @heeler,

the tile overlap for this image is around 10%. I also checked if there are any "black" pixels on the out edges of some tile, but there are not. The overall image incl the overlap is exactly 7392 x 3212 pixels.

Silly idea: Rounding issues?

![image](https://user-images.githubusercontent.com/3833249/112718022-a6671200-8ef0-11eb-8b51-6753da053f25.png)

![image](https://user-images.githu

[2021-03-27 20:24] heeler commented on #77
@sebi06 your guess sounds likely to me. I got my wires crossed when I looked at what you were saying initially. I thought the bounding box size was wrong but it is correct. It seems the error is in libCZI's reconstruction function. I'm going to have a look at it in more depth right now to see if I can fix it. Thanks for pointing this out in detail.

[2021-03-27 21:16] sebi06 commented on #77
Hi @heeler,

If it turns out that this is rather an issue of ibCZI itself, it would be possible to ask the person who wrote directly (since he is my colleague).
Let me know what you fid

[2021-03-29 12:58] sebi06 commented on #77
Hi @heeler ,

i did some more digging. When I read the bboxes of all tiles (M=120) and calculate the rsulting overall bbox I get (7398 x 3212)

[code]

The result of this I use for the following call:

[code]

and this gives me an array with `shape = (1, 3212, 7398)`, which is what I expected.

So why does this approach gives me the correct result, while reading the array directly gives an array w

[2021-04-03 18:13] heeler commented on #77
Hi @sebi06,

I've been working on this in the context of reconstructing the image in aicsimageio as a dask.array. Using your example file I get the results you expect when I use the subblock (tile) bounding boxes.
I'm having trouble figuring out if the subblocks within a scene in a mosaic file are guaranteed to tile the entire scene bounding box for the mosaic or if there can be missing tiles. I'v

[2021-04-28 08:17] pr4deepr opened #81 "reading in raw lightsheet data (CZI file)"
## System and Software
* aicspylibczi Version: 2.8.0
* Python Version: 3.7.10
* Operating System: Windows 10

## Description
*I am trying open a czi file which is raw lightsheet data, i.e., not deskewed. The deskewed data as a czi file opens fine, but the raw data (not deskewed) throws an error. The idea is to read in the raw data and perform deskewing and deconvolution in Python.*

## Expected Be

[2021-04-28 14:38] heeler commented on #81
Hi @pr4deepr,

I'll look into this as soon as I have work on the 3.0 release completed.
It would be ideal to have a test file from your system that has the problematic behavior if at all possible.
It is somewhat likely that the raw/skewed data is not supported by libCZI. I might be able to patch libCZI to make that work but that's an unknown.

Thanks
    @heeler

[2021-04-30 09:12] pr4deepr commented on #81
Hi
  Thank you for getting back to me.
I'll see if I can get a sample image dataset early next week.

Cheers
Pradeep

On Thu, Apr 29, 2021, 00:38 Jamie Sherman ***@***.***> wrote:

[2021-05-03 05:19] pr4deepr commented on #81
Hi @heeler

   Please find the data [here](https://we.tl/t-YfWDhZNWDc). Its a WeTransfer link.
I can access use the czi2tif option from here: https://github.com/cgohlke/czifile
to convert small czi files into tiff files, and can access the metadata.

Cheers
Pradeep

[2021-05-10 08:12] axeldeto opened #82 "No matching distribution found for aicspylibczi"
Hello,

I was setting up a new account on a Linux server for a colleague and when I wanted to install the library I got the following error:

Collecting aicspylibczi
**Could not find a version that satisfies the requirement aicspylibczi (from versions: )
No matching distribution found for aicspylibczi**

These are the specs of the system and software:
* aicspylibczi Version: trying to download the

[2021-05-11 07:44] axeldeto commented on #82
Hi Jackson,

Thank you for the fast reply!
This makes sense.

Miniconda did the trick so it is indeed a version issue as you mentioned.

Thank you again and have a great day!
Best,
Axel

[2021-05-11 19:56] #82 closed, assigned to nobody

[2021-05-18 00:23] JacksonMaxfield commented on #81
Hey @pr4deepr I just saw your talk on Dask Summit and it served as a reminder for me to check this issue :sweat_smile: (sorry for the delay)!

@heeler has unfortunately taken a new job so I will have to get myself caught up on what is going on with this issue. I am curious if you have encountered the chunking problem on other file formats. Is it just CZI or does it affect the whole `aicsimageio` l

[2021-05-18 04:44] pr4deepr commented on #81
Hey @JacksonMaxfield

I just saw your talk. I really enjoyed it and I think it answered some questions that I had about processing the large datasets and memory usage!!

_

_

Apologies, didn't mean to put up the github issue like that, I just wanted to showcase my workflow and where I'm at.

Currently, I have only tried it on CZI files. I can access the CZI file and explore the metadata, subblock

[2021-05-18 14:26] JacksonMaxfield commented on #81
No worries at all. It was a helpful reminder for me and useful to hear about the issues.

Hmmm well normally I would say can you upgrade to aicsimageio 4.0.0.dev6 but CZI reading hasn't made it into that dev release yet. I tried, and we have benchmarks that show our peak memory used during reading files (and I manually ran some tests last night) to make sure that at least TIFFs we aren't reading m

[2021-05-18 14:38] pr4deepr commented on #81
Thanks a lot for looking into this..

The WeTransfer link expired, so I''m posting another link here:
[DOWNLOAD](https://wehieduau-my.sharepoint.com/:u:/g/personal/rajasekhar_p_wehi_edu_au/EaEWuvhOXbxLsRS9Nsd3Vj4BTItqsWLkr_4Zmrg5kQKS5A?e=Cm75GA)

[2021-05-18 15:59] JacksonMaxfield commented on #81
Had a brief moment to look at this this morning. On both the prior and new versions of aicspylibczi it produces the error you noticed. So reproducible! Yay?

What an odd error. I will try to find a time to talk to Jamie about this and see what I can do. I assume it's something to do with typing. Because the underlying reader is written in C++ I wonder if your file has a different type return for s

[2021-05-19 03:38] pr4deepr commented on #81
Yea, I had a look and realised the reader is in C++, which is where I hit a wall!!!

So, I was comparing a raw data file and the corresponding deskewed/processed data. The latter opens in aicsimageio.
I have been playing around with using CziFile to explore the underlying data structure.

From what I understand about czi files, the data are in subblocks, which are in turn contained in subblock dir

[2021-05-21 07:53] pr4deepr commented on #81
BTW, are you comfortable with me posting this in the image.sc forum?
I am in a workshop with Sebastian Rhodes from Zeiss and he mentioned about posting it there.

[2021-05-21 15:08] JacksonMaxfield commented on #81
Please do! More eyes the better probably.

[2021-05-25 18:33] JacksonMaxfield commented on #81
Hey @pr4deepr, we will try to take a deeper look at this issue soon. In fact @heeler may find some time to do soon :tada:. But other than that, no real update unfortunately, just "this issue is still on our radar" :/

[2021-05-26 06:59] pr4deepr commented on #81
Thanks for that @JacksonMaxfield and @heeler ! Appreciate you taking the time for this...

[2021-05-27 02:40] JacksonMaxfield opened #83 "Not able to retrieve all scenes from multi-scene file"
## System and Software
* aicspylibczi Version: 3.0.1
* Python Version: 3.9
* Operating System: Ubuntu 20.04

## Description
*A clear description of the bug*

Using the test file `aicsimageio/tests/resources/variable_scene_shape_first_scene_pyramid.czi` -- We can tell this by how it is read in:

[code]

_The dims shape above shows that `aicspylibczi` is reading only a single scene, the first of whi

[2021-05-31 13:13] heeler commented on #83
I'll have a look at this.  I'm still trying to get my head around what might be going on here. Are there 2 images: 1 mosaic, 1 standard, or is it a mosaic with 2 scenes, or is it something else? If it's the first case I can see that going wrong mostly because I haven't ever seen a mixed mosaic/starndard image before so the logic in the library probably goes sideways in that case. Thanks for catchi

[2021-06-08 18:04] boazmohar opened #84 "Corrupted few columns of CZI file with 4.0.0"
## System and Software
* aicsimageio Version: 4.0.0
* Python Version: 3.8.10
* Operating System: linux [Oracle Linux Server release 8.3]

## Description
Corrupted few columns of czi data.

## Expected Behavior
Loading it with CziFile or native software shows there is no corruption in the raw data

## Reproduction
[code]
![image](https://user-images.githubusercontent.com/9434009/121234206-75487d80-

[2021-06-16 18:12] JacksonMaxfield commented on #81
Hey @pr4deepr just pinging again to say that don't worry we are still tracking this issue but no development has occurred unfortunately still. Hoping that we can look at it soon but again, no real timeline unfortunately. Apologies.

[2021-06-17 19:16] toloudis commented on #84
I'm starting to take a look today. Will see how far I get.

[2021-06-18 11:15] pr4deepr commented on #81
Thanks!

[2021-06-18 19:14] toloudis commented on #84
Here are my findings after digging into aicspylibczi and libCZI for a day.   I'm using the smaller Overview.czi file to test.

* the image loads correctly with czifile, and it also loads correctly in Zen
* open source libCZI (as compiled into aicspylibczi) appears to load the pixel data with a bad file offset, and so the data is shifted in the way shown in the pictures above
* I observed the same

[2021-06-18 19:38] boazmohar commented on #84
@toloudis Thank for looking into this!
I can only add as to the generation of the data which is right off the microscope (Zeiss Z1 lightsheet). No edits were made.
If there is a complied version of this change that I can pull, I can test it with other files I generated off the same microscope.

[2021-06-20 17:38] sebi06 commented on #84
I need to point out that LightSheet Z1 is still running the old ZEN Black SW.
I would not create any big changes bases on such CZI image files.

Ideally they work as well but I would rather only test against CZI from ZEN Blue.

The overview.czi was acquired by me a while ago, but I cannot rember anymore, if I did some postprocessing like stitching etc.

But I can provide fresh CZI (using the lates

[2021-06-21 13:30] ptahmose commented on #84
The PR https://github.com/ptahmose/libCZI/pull/1 should fix the issue discussed here.
Note that the fix is applied to this repository (in the branch 'wolframlink') only at this point in time.
Hope this fixes the problem, and thanks for the analysis.

[2021-06-21 18:13] toloudis commented on #84
@ptahmose @pthamose Thank you for this fast fix! We have a compile error because of mismatched types in the call to `max` which I patched like this:
https://github.com/AllenCellModeling/libCZI/commit/2a8fdeb2f38d4bfae287b3987883118ab2b05938

[2021-06-21 20:26] toloudis commented on #83
Perhaps bfconvert turns pyramid levels into scenes?

[2021-06-21 21:15] #84 closed

[2021-06-21 21:16] JacksonMaxfield commented on #84
This was marked as resolved but will not be actually fixed until we push a new version. Which will be shortly!

[2021-06-21 21:40] JacksonMaxfield commented on #83
We think this is related to the fact that FIJI / ImageJ / BioFormats / something expands all available "image-like" objects into images in FIJI. See related: https://github.com/fiji/fiji/issues/280

[2021-06-21 22:58] toloudis opened #86 "contributing.md still says to do a PR on stable branch"
are we using stable or main for releases?
Also, contributing.md should say `bumpversion release` somewhere to indicate what you should actually do for a release.

[2021-06-22 15:01] JacksonMaxfield commented on #84
This should now be resolved. Can upgrade and use with `pip install --upgrade` or `pip install aicspylibczi==3.0.2`

[2021-06-22 16:51] zeissmicroscopy commented on #83
Just guessing, but could it be that this image a has a preview image attached, which is read by BioFormats as an additional series? (sebi06)

[2021-06-22 16:59] JacksonMaxfield commented on #83
Yea thats what we thought as well!

[2021-06-29 19:55] toloudis commented on #81
Initial finding:  the error message "The method or operation is not implemented." comes from the underlying Zeiss libCZI when it thinks there is an internal compression format it doesn't recognize.  It recognizes "JpgXr" and "UnCompressed" according to the code.  I am still looking deeper to see how it got there.

[2021-06-29 21:26] toloudis commented on #81
Looks like the file contains compression mode 1001 which the libCZI library doesn't recognize and considers "invalid".

[2021-06-29 23:47] pr4deepr commented on #81
Thanks for this update.
Glad to see that you've figured out why we're getting the error.

[2021-07-05 15:41] toloudis commented on #81
https://github.com/zeiss-microscopy/libCZI/issues/54#issuecomment-874072385

[2021-07-16 12:23] sebi06 opened #87 "Underspecified Coordinates when trying to get TileBoundingBox"
## System and Software
* aicspylibczi Version: 3.0.2
* Python Version: 3.8
* Operating System: Win10

## Description

I get the following error when I try to read information from a subblock

The CZI file has the following dims: 'BSCMYX' and is a mosaic file with M=25.

`size = (1, 1, 3, 25, 2208, 2752)`

https://www.dropbox.com/s/3k44851vzv6i9ec/DTScan_ID4.czi?dl=0

When I try to use `aicsczi.get

[2021-07-19 21:41] JacksonMaxfield commented on #87
Hey @sebi06 this project, aicsimageio, and napari-aicsimageio are basically now entirely managed by me (contracted by AICS for 8hrs / week). Any chance Zeiss can PR some fixes for some of the bugs you have been reporting recently?

[2021-07-20 06:17] sebi06 commented on #87
Hi @JacksonMaxfield,

good question... :-) And aicspylibczi is consideed to be part of the aicsimageio project I guess.

Right now all in my team a really busy as well. Maybe we can help with some quick tests etc. Our focus is currently a AI and a future new release of libCZIrw (C++)

The problem reported in this issue is a bit strange since this worked with earlier versions of aicspylibczi, but w

[2021-07-20 11:09] sebi06 commented on #87
Hi @JacksonMaxfield,

I sorted it out and it was not an actual bug, but me getting confused by the new methods. It now works as expected when using

[code]

[2021-07-20 11:09] #87 closed

[2021-07-21 23:07] JacksonMaxfield commented on #87
Good to know! Thanks @sebi06.

Yea moving forward, things like https://github.com/AllenCellModeling/aicsimageio/issues/279 will be "low priority" for me.

All of these repositories are open source projects and I would greatly appreciate any help you can provide on resolving issues.

---

Regarding:

Does this mean we will need to update `aicspylibczi` to use the new release?

[2021-08-11 15:03] sebi06 opened #88 "Major Update of libCZI will take place soon"
Hi all,

since aicspylibCZI is based on our **[libCZI](https://github.com/zeiss-microscopy/libCZI)** I think I might be a good idea to let you know that very soon (within the next weeks) we will release a major update for that library.

On main new feature will be the **[ZSTD compression](https://facebook.github.io/zstd/)** that is now implemented. In will be used in ZEN to write CZI files (option

[2021-08-17 05:45] pr4deepr commented on #81
Hi
  Just updating this thread. There was a bit of delay in getting my hands on some czi files.
With files saved using the newest version of Zen software (3.4 onwards), aicsimageio reads the czi files without a problem.
For older files, I need to resave it using Save As CZI option on Zen to be able to read it using aicsimageio library.

I really appreciate the rapid response and help in this matte

[2021-08-17 08:32] JacksonMaxfield commented on #81
Well glad it was solved. Going to close this issue for now then. If it comes up again / if any other issues crop just let us know.

[2021-08-17 08:32] #81 closed

[2021-08-19 11:45] zeissmicroscopy commented on #88
The update version of libCZI with zstd support is now available on GitHub. See: [https://github.com/zeiss-microscopy/libCZI/pull/55](https://github.com/zeiss-microscopy/libCZI/pull/55) for details.

[2021-08-19 14:27] JacksonMaxfield commented on #88
Thanks for the info!

With 1,148 files changed it's hard to tell what all has changed.

1. Are there breaking API changes? (This will affect if we need to change our code or if we can simply upgrade the submodule)
2. I _think_ I see that @heeler's and other's PRs were in some way merged in. Do we need to update our own fork or did all PRs of our own + community make it in to this official release?

[2021-08-19 16:45] mcdo0486 commented on #77
I think I am running into this issue as well. For this file, the bounding box shape should be `(2048, 6349)` but is `(2048, 6352)`. Those last three columns of data get filled with random(?) data. After running this 20 times it will start being consistently filled. If I restart the kernel in a lab notebook it will start filling in with random data. Very odd.

[code]
[code]

When I try your snippet

[2021-08-19 16:53] mcdo0486 commented on #77
Ok, I see where mosaic bboxes can get gotten from cziobjects

[code]
That returns the correct shape (1,2048,6349). I think that should be the default behavior with `read_mosaic`

[2021-08-23 06:19] sebi06 commented on #77
Hi @heeler ,

I am not 100% sure if I got you question correctly. Are you talking about CZIs like this one below. The ZEN software can acquire it easily so, even if this is probably not a common use case. Does that help?

CZI File: https://www.dropbox.com/s/8n4pns3q8pp4248/doughnut.czi?dl=0

![image](https://user-images.githubusercontent.com/3833249/130399729-07d90944-94da-4cb0-8291-8befa46a862f.p

[2021-08-23 14:02] JacksonMaxfield commented on #88
Bump @sebi06

[2021-09-17 18:32] JacksonMaxfield commented on #88
@sebi06 bump again. Please.

[2021-09-17 19:09] sebi06 commented on #88
Hi @JacksonMaxfield

I am just back from vacation so sorry for the delayed answer.

AFAIK there are no breaking changes.

I think most of them were merged but I would have to ask the dev guys.

But since the ZSTD support is new I think I would make sence to start with a fresh fork of our updated repo.

What do you think?

[2021-09-17 19:22] JacksonMaxfield commented on #88
Can you check with the devs please. Would appreciate the rundown.

[2021-09-23 10:33] sebi06 commented on #88
Hi @JacksonMaxfield

i talked to the devs and the admitted, that that did not make a good job in "keeping" track of the PRs.
But they told me that to their knowledge there are no breaking changes.

I will clarify if I get "some time" to check you PRs from the past and hopefully merge them. Give me a few days .... :-)

[2021-10-01 14:58] tlambert03 opened #90 "Add CMakeLists.txt (etc...) to sdist"
## System and Software
#89 added the sdist to pypi, which is great.  However, in trying to build this package on conda-forge, I pulled the sdist from pypi and tried to build, but the sdist doesn't contain `CMakeLists.txt` (and perhaps other things) required to actually build the source.

[code]

I can use the tar.gz from the github releases for now, but it would be nice to make the sdist fully "bu

[2021-10-04 13:42] DaniGodin opened #91 "py::module_local() missing in bindings"
Hey,

Not really a bug but I think a "good practice" when exposing c++ bindings with pybind11.
Could you please mark the binded objects as `py::module_local()`  to avoid symbol conflicts with other library.

Example:

`py::class_<libCZI::IntRect>(m, "BBox")` ---> `py::class_<libCZI::IntRect>(m, "BBox", py::module_local())`

Best,

Daniel

[2021-10-08 06:54] erikogabrielsson opened #92 "Unexpected image data from read_mosaic"
## System and Software
* aicspylibczi Version: 3.0.3
* Python Version: 3.8.9
* Operating System: Windows 10

## Description
Im new to czi-files and aicspylibczi/libczi, so Im sorry if this issue is due to my lack of understanding.

When reading empty/blank regions from a mosaic czi file, I get inconsistent and unexpected data back. For example, if I read from the top-left of the mosaic_boundig_box

[2021-10-19 10:23] jpcornil-git commented on #92
Could you try to apply the attached patch ([forceBackGround.txt](https://github.com/AllenCellModeling/aicspylibczi/files/7372255/forceBackGround.txt)) and check if it fixes your issue as well.

[code]
Cheers,
jpc

[2021-10-19 20:25] jpcornil-git commented on #92
I made a new [background_color.txt](https://github.com/AllenCellModeling/aicspylibczi/files/7376354/background_color.txt) patch to offer background color as an optional (r,g,b) parameter to the read_mosaic function

def read_mosaic(self, region: Tuple = None, scale_factor: float = 1.0, **background_color = None**, **kwargs):

Use this file instead of the previous one
[code]

e.g. czi.read_mosaic(r

[2021-12-20 14:40] Ale0x78 opened #100 "[Security] Workflow PublishLinux.yml is using vulnerable action actions/checkout"
The workflow PublishLinux.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE f

[2022-01-19 20:59] emay2022 opened #101 "Error loading file on M1 Mac"
## System and Software
* aicspylibczi Version: 3.0.4
* Python Version: `3.9.9 | packaged by conda-forge | (main, Dec 20 2021, 02:41:07) \n[Clang 11.1.0 ]`
* Operating System: M1 Mac

## Description
*A clear description of the bug*

When I attempted to load a file with this library I got the following error:

[code]

## Expected Behavior
The file loads without an error

## Reproduction

[code]

##

[2022-01-19 21:02] JacksonMaxfield commented on #101
Hello @emay2022!

To be honest, I don't think we personally have a good solution other than saying: "you should try building the library yourself."

I think @psobolewskiPhD will have the best insight into how to get this library to build on M1 macs

cc @toloudis

[2022-01-19 21:16] toloudis commented on #101
Of interest:
https://github.com/AllenCellModeling/aicspylibczi/blob/main/.github/workflows/py-build-main.yml

See if cibuildwheel supports M1 macs, and what setting we would need to include to test that...

[2022-01-19 21:19] ianhi commented on #101
This would be fine if the wheel didn't install wihout issues. I think you're currently distributing a "universal" wheel that may not actually be universal.

I believe it does. I think i've helped set this up elsewhere

[2022-01-19 21:19] JacksonMaxfield commented on #101
Looks like cibuildwheel supports MACOS arch: https://github.com/pypa/cibuildwheel/pull/484

We may just need to add arm64 to our CIBW_ARCHS_MACOS list

[2022-01-19 21:20] ianhi commented on #101
basically this: https://github.com/project-gemmi/gemmi/commit/7d36d412040109c8f246309c74cb2f4de765e7f4

[2022-01-19 21:21] ianhi commented on #101
or alternatively via pyproject.toml: https://github.com/project-gemmi/gemmi/pull/164/files

[2022-01-19 21:22] JacksonMaxfield commented on #101
@ianhi mind making a PR with what you think will fix?

[2022-01-19 21:26] psobolewskiPhD commented on #101
OK. so  pip shows that  `aicspylibczi` now has a wheel on pip that is Universal2, so it should work for arm64 M1
But if you try: `pip install aicspylibczi`
It will fail as you note, so it's somehow not a proper universal wheel—maybe its x86/PPC?
Anyhow you can do:
[code]
And it should just build.

[2022-01-20 09:00] psobolewskiPhD commented on #101
BTW, those CC flags may not be needed. Either way, it's odd to me that `pip install .` works while `pip install aicspylibczi --no-binary=aicspylibczi` fails. Here's the error and full log below:
[code]

<details>

[code]

[2022-01-25 17:41] JacksonMaxfield commented on #101
Reopening this issue. We are trying another variant of the CIBuildWheel stuff. If anyone has time to test the produced wheels, they will likely be available in an hour.

https://github.com/AllenCellModeling/aicspylibczi/actions/runs/1746866957

[2022-01-25 19:44] psobolewskiPhD commented on #101
I just downloaded the artifact. It now has wheels marked `universal2` which would be x86-64/arm64. But the installed .so is not `fat`, just x86-64
[code]

[2022-01-25 19:47] JacksonMaxfield commented on #101
I have no idea what this means :clown_face:

Sounds like it doesn't work?

[2022-01-25 19:51] psobolewskiPhD commented on #101
Yea, `universal2` should be FAT, so include compiled x86-64 and arm64 versions. But it's `non-fat` just x86-64. So the build system is packaging correctly, but not compiling arm64 versions.

[2022-01-25 20:16] JacksonMaxfield commented on #101
I have no idea what to do anymore. This is now just an open call for help from anyone who sees this issue.

[2022-01-25 20:30] psobolewskiPhD commented on #101
I'm guessing it's the cpp workflow that's doing the actual `_aicspylibzi...so` building?
https://github.com/AllenCellModeling/aicspylibczi/blob/main/.github/workflows/cpp-build-main.yml

So I think maybe there needs to be a detect for arm64 and the cmake arch flag set?
I'll do some googles.

[2022-01-26 20:01] psobolewskiPhD commented on #101
OK, so I'm pretty certain the issue with builds is due to no cross-compilation flags being passed to `cmake` and the runners being x86. So the `cmake` part of the build is always x86 and then it's just packaged by `cibuildwheel` into arm64, universal2, or whatever. It's always the same x86 binary of the key compiled library.
Here's some stuff I dug up:
https://github.com/pypa/cibuildwheel/issues/5

[2022-01-26 20:03] JacksonMaxfield commented on #101
If you make a PR, you could update the py-build-pr file: https://github.com/AllenCellModeling/aicspylibczi/blob/main/.github/workflows/py-build-pr.yml

to include the build wheel job and then download any of the wheels built as a part of that push (this is the wheel building part of the workflow that you could add to a pr workflow: https://github.com/AllenCellModeling/aicspylibczi/blob/main/.githu

[2022-01-26 20:15] psobolewskiPhD commented on #101
Not fully 'getting' that ⬆️ at the moment, BUT:
I think that the solution here:
https://github.com/nmwsharp/robust-laplacians-py/pull/8/files
actually *doesn't* use any new build tools or anything, since that packages just uses `setup.py` and `setuptools`.

[2022-01-26 20:57] toloudis commented on #101
That looks very promising, that's probably exactly what we need.

[2022-02-15 00:57] toloudis commented on #101
I attempted to add the changes from the above mentioned solution.
@psobolewskiPhD would you be willing to open the build artifacts and see if the wheels look correct?
https://github.com/AllenCellModeling/aicspylibczi/actions/runs/1843834345#artifacts

[2022-02-15 08:00] psobolewskiPhD commented on #101
Sorry I never got a chance to push this further!
I got the artifact and installed all of them one by one.
**They all return the proper `lipo -info` either arm64 (if non-fat) or the proper fat (x96_64, arm64)!**
🎉

Here's the 3.9's
[code]

And the 3.8's:
[code]

And the 3.10s
[code]

Also in my 3.9 environment i tested that the artifact works correctly with aicsimageio to import .czi. No errors (ju

[2022-02-15 17:31] toloudis commented on #101
I think the macos10_9 vs 11_0 is because we are building on two different macos configs.   I am assuming pypi knows how to deal with all that once we ship everything up there but I'm not really sure.

[2022-02-15 17:36] toloudis commented on #101
Here is the diff if interested.  Very similar to the link above.   Sadly I made the mistake of doing the first push on main and so I just kept going. My fault there, and I probably should have corrected that.

https://github.com/AllenCellModeling/aicspylibczi/compare/10f5a3015d2af7fe7c6c7247b1726505329df2f8..main

[2022-02-15 17:53] psobolewskiPhD commented on #101
Maybe you can do a pre-release which should make testing off pypi possible?

[2022-02-16 08:41] psobolewskiPhD commented on #101
@toloudis I saw the 3.0.5dev pre-release.
Doing `pip install aicspylibczi --pre -U` in my M1 macOS 12.1, arm64 python 3.9 env gave me:
`.rwxr-xr-x 1.5M 16 Feb 09:35 _aicspylibczi.cpython-39-darwin.so*`
and lipo shows:
`Non-fat file: _aicspylibczi.cpython-39-darwin.so is architecture: arm64`
🎉
So looks like `pip` favors non-fat or it's due to the OS version difference. Eitherway, this issue is reso

[2022-02-16 14:50] toloudis commented on #101
Ah, glad you found it!

We should have an open issue to add this to conda-forge somewhere if it's not already.

[2022-02-16 15:47] psobolewskiPhD commented on #101
Looks like @tlambert03 was working on it:
https://github.com/conda-forge/staged-recipes/pull/16326

I'm not sure I totally understand how that all works, but at the moment it's not compiled for arm64 :
[code]

[2022-02-16 15:51] tlambert03 commented on #101
yeah, needed someone with more direct interaction with aicspylibczi to pick that one up

[2022-02-16 18:56] toloudis commented on #101
I bumped 3.0.5 to full release.  Should publish soon.

[2022-02-16 18:58] toloudis commented on #86
This is now resolved.

[2022-02-16 18:58] #86 closed

[2022-02-16 18:58] #88 closed

[2022-02-16 19:00] #73 closed

[2022-02-16 19:05] toloudis commented on #100
All actions/checkout should be using v2 now.

[2022-02-16 19:05] toloudis commented on #100
Also, the PublishLinux workflow is gone, as we've overhauled the build scripts.

[2022-02-16 19:41] JacksonMaxfield commented on #101
@emay2022 @ianhi could either of you attempt to install this library now to see if we can close this one?

[2022-02-16 20:45] toloudis commented on #101
I don't know what is up with that manylinux curl request. It has failed before and then I re-ran it and it worked.

[2022-02-16 21:28] toloudis commented on #101
should be published now

[2022-02-16 21:41] psobolewskiPhD commented on #101
[code]
[code]
And I can load `variable_scene_shape_first_scene_pyramid.czi` from napari-aicsimageio test resources just fine.
🎉

[2022-02-16 21:43] toloudis commented on #101
Excellent! Hopefully aicsimageio is next on the M1 train :)

[2022-02-16 21:46] psobolewskiPhD commented on #101
Oh `aicsimageio` has been on the M1 train from day 1, believe me!
❤️

(LIF user here, so this was never a real issue for me personally and `readlif` is pure python)

[2022-02-16 21:51] JacksonMaxfield commented on #101
Once @emay2022 or @ianhi try it out on m1 mac we can close this issue. And maybe try a condaforge build (cc @tlambert03)

This checks another thing off the checklist of items for `aicsimageio` minor release + `napari-aicsimageio` minor release as well! Keep eyes out for those in next couple of days :eyes:

[2022-02-16 22:26] tlambert03 commented on #101
I just tried the conda build again, but no luck.  Ideally, the [sdist distributed here on pypi](https://pypi.org/project/aicspylibczi/3.0.5/#files) would have everything needed to build the package, but it doesn't have much at all (like the cmakelist, etc...).  I think we came across this before and decided to try using [tagged refs available on github](https://github.com/AllenCellModeling/aicspyl

[2022-02-17 00:12] toloudis commented on #90
ok I think the sdist wants to see a MANIFEST.in file that lists out all the source files to be included. (reference: https://github.com/pytorch/pytorch/issues/52843)

[2022-02-17 00:54] tlambert03 commented on #90
manifest.in is one option (the "classic distutils option") for declaring what should get into the sdist, but if you're using setuptools, it gets slightly more complicated.  suggest reading this page: https://setuptools.pypa.io/en/latest/userguide/datafiles.html and note the `include_package_data` and `package_data` options.

Ultimately, as many times as I've read through those docs, I generally en

[2022-02-17 00:55] emay2022 commented on #101
I ran `pip install aicspylibczi --upgrade` and got:
[code]

Then I was able to load a .czi file using `out = aicspylibczi.CziFile(path)` without an error.

Thank you so much everyone!

[2022-02-17 00:55] #101 closed

[2022-03-02 16:04] JacksonMaxfield commented on #70
Hey @rg314 can you answer the above questions:

It may be that your machine simply doesn't have enough memory to fit the whole mosaic in memory.

[2022-03-02 16:06] JacksonMaxfield commented on #70
And re above, we dont have any test data ourselves to work on the issue. We cant debug something we cant reproduce.

[2022-03-02 16:58] rg314 commented on #70
Hey @JacksonMaxfield

Pixel type:
[code]

Shape:
[code]

The following code works
[code]

In terms of memory I think things are fine as I can get the image into an np.array and manipulate given I use the `scale_factor` arg. But FYI
[code]

If I run:
[code]
Then I get the following error
[code]

Running the following code works fine.
[code]

When I try ```czi.read_mosaic(C=0, scale_factor=0.1, regi

[2022-03-02 17:03] JacksonMaxfield commented on #70
Thanks for all the info!

Hmmm. I _think_ it may be indexed by the overall stage position? But that is a good question.

cc @toloudis any ideas?

[2022-03-02 17:40] heeler commented on #70
I'm rusty on this but if I remember correctly it's the format that Zeiss's libczi takes. It could possibly translate into a more sensible system but I was hesitant to depart from what Zeiss used and in their system (-138240,16503) is the origin of the image.

[2022-03-02 18:53] toloudis commented on #70
Having any image to repro with would help.  I'm not sure what's going on with these coordinates or how a user would know what coordinates to use.  I'm prepared to do a deep dive when we can repro.

[2022-03-02 19:04] heeler commented on #70
@toloudis, the documentation `get_mosaic_bounding_box()` should give you the origin and the size of the mosaic so you know where to start from. I can't comment on the logic behind Zeiss's origin. I do wonder what Zen does.

[2022-03-02 21:11] rg314 commented on #70
Okay, I'm going to get the client in on the thread. I’m sure we can get something sorted.

[2022-03-24 14:01] ExtReMLapin commented on #31
I could be missing something but there is no 3.8 build on [PyPI](https://pypi.org/project/pylibczi/#files)

[2022-03-28 09:38] ExtReMLapin opened #105 "Get pixel depth ?"
Hello, is there a way to detect pixel depth ?
My CZI file (73Gb) returns a numpy array with numbers 2000-3000, it seems to be an image with a depth of 12 bits.
Is there a way to be sure it's 12 bits ?

Thanks.

[2022-03-28 09:46] ExtReMLapin commented on #105
Found it it's, `print("pixel_type", czi.pixel_type)`

[2022-03-28 09:46] #105 closed

[2022-06-12 15:17] r03ert0 commented on #70
Hey! I have a czi mosaic that shows the error and that I'm happy to share :)
It's 2.77GB, though... If that's ok, I can put it on Zenodo for example.
Would that work?

[code]

[2022-06-13 07:31] markemus commented on #70
Wow, I completely forgot about this issue, so sorry! As a backup for @r03ert0 I will try to find an image I can send you as well. Roberto, do not depend on me, clearly I am unreliable. Let's get these people some examples.

[2022-06-13 10:08] rg314 commented on #70
Excellent thanks @r03ert0. We weren't able to get shareable data from our client.

[2022-06-13 11:18] heeler commented on #70
Hi @r03ert0 If you can share the file on Zenodo I'll have a look and see if I can figure out what's going wrong.
Thanks for this.

[2022-06-13 11:27] r03ert0 commented on #70
here's the link:
https://zenodo.org/record/6637864

loading the whole image doesn't work, but loading subregions does:

[code]

The result is this (the last tile throws an error):

![1d25d668-b669-49b4-8365-f65eba17f7a7](https://user-images.githubusercontent.com/2310732/173343649-1810e9b8-1ac5-4497-991a-b720c77326f7.png)

What I would like to do is to convert the image to bigtiff, or to deepzoom (

[2022-06-21 12:33] sebi06 opened #106 "Usage of libCZIrw instead of libCZI for aicsimageio"
Hi all,

I would like to get your opinion on the following topic.

- our **libCZI** (available on Github) will be soon archived. It is published under GPL.
- any futher development and new features will be only for libCZIrw
- our new **libCZIrw** (soon available on Github) will be published using LGPL (**pylibCZIrw** is already available under LGPL)

From our (ZEISS) perspective it would be nice i

[2022-06-23 08:16] sebi06 commented on #106
Interesting news!

So on idea on my side is to just fork the `aicspylibczi` and replace the `libCZI` with our new `libczirw` and see what happens. Fram what the developers told me there should be very little changes to the reading part. Maybe we do a little internal Spike or hackathon :-)

AFAIK `aicspylibczi` is also using `pybind11` so if the things above work, I would really like to investigate

[2022-06-23 16:28] NSGregory opened #107 "Add package metadata to help pip install valid versions"
## System and Software
* aicspylibczi Version: Presumably 3.0.5
* Python Version: 3.6.9 - 64 bit
* Operating System: Ubuntu 18.04.4 LTS - 64 bit

## Description
*A clear description of the bug*
Fails to install.  Potentially related to the CMake List error from issue #90.

## Expected Behavior
*What did you expect to happen instead?*
Install

## Reproduction
*A minimal example that exhibits the be

[2022-06-23 17:22] JacksonMaxfield commented on #107
I think you need to install a prior version. 3.0.5 isn't built for Py36.

(This is on us / the previous maintainer... there is a lack of metadata in the package info. If the package metadata had a "Python Supports" section pip wouldn't have even attempted to install a version your system doesn't support. cc @toloudis seems we should add package metadata.)

You have two options, upgrade to Py37+ or

[2022-06-23 17:53] NSGregory commented on #107
Installing version 3.0.1 worked for me in this case.  I don't know if you want to leave this open for others to find until the metadata gets addressed.  Thanks for the speedy reply.

[2022-06-23 17:54] JacksonMaxfield commented on #107
Thanks for the update! I changed this issue to "Add package metadata to help pip install valid versions" -- I will track it / work on it hopefully soon.

[2022-06-23 19:58] toloudis commented on #106
That would be amazing if you tried this replacement on a branch and it worked well.  I echo Jackson's comment that we would gladly pull those changes in.  It's in the best interest of this package to stay up to date.    One thing to note is that we build for Windows, Linux and MacOS.

I also agree that it does make some sense for `aicspylibczi` and `pylibczirw` to come together in some way.  I thi

[2022-06-23 20:29] sebi06 commented on #106
I will think about it. Especially the dask topic is interesting.
On a sidenote, we published also the cztile package and use it together with pylibczirw to read "only what we need".
Our API is currently focused on reading any ROI from any 2D plane and we do not have the concept of a mosaic.
I will discuss your input within our team.

[2022-06-23 21:40] toloudis commented on #106
Personally I agree with the interface of just accessing any sub-xy region of any plane, as long as I can also ask for the metadata of the native tile sizes/boundaries, in case they are significant for the way I would read the data.

[2022-06-27 13:57] zeissmicroscopy commented on #106
Hi @toloudis ,

I am not sure if I got you correctly but I think this is also what pylibCZIrw allows you to do. Of course the devil is the details and our library is still very new :-)

[2022-06-27 18:03] sebi06 commented on #106
Especially the topic with the M Index is very interesting. Basically in our team there are two opinions:

- M Index is useful in order to access the acquisition tiles
- M index is specific the the acquisition and actually the tile size required for processing depends on the actual application = just give the user an option to read any ROI from any plane (this is what we do in pylibczirw)

This is

[2022-06-30 15:08] sebi06 opened #108 "CZI without channel name cannot be read from aicsimageio / aicspylibczi"
Hi,
For CZI files it is not mandatory to have a channel name inside the metadata. (I am not sure if the bug entry should be rather in the aicsimagio repo - feel free to move it)

When trying to read such a CZI file:

https://www.dropbox.com/s/245eurxtvs4nu1n/211122_AM_Al2O3_SE_021_sp.czi?dl=0

from inside Napari for exmaple it will fail with here:

[code]
![image](https://user-images.githubusercon

[2022-06-30 15:24] JacksonMaxfield commented on #108
This is a duplicate of https://github.com/AllenCellModeling/aicsimageio/issues/279

If you want too make a PR to fix, the general idea is to use our `metadata_utils` module to create a channel name from the scene and channel index.

[2022-06-30 15:24] #108 closed

[2022-07-29 23:34] toloudis opened #109 "does not work with fsspec's LocalFileOpener"
Relatively recent changes to fsspec have caused an incompatibility here.  We would like to be able to run code like this:
[code]

The `CziFile` constructor leads to running this code:
[code]
but the pybind11 code that converts the constructor argument from a BufferedReader to a libCZI IStream does not work with LocalFileOpener (which is a subclass of `io.IOBase`).

There is a workaround, which is